<!--
<input type="text" placeholder="username" [(ngModel)]="user">
<br>
<input type="password" placeholder="password" [(ngModel)]="pass">
<button (click)="check()">login</button>


<div *ngIF ="ans==' ' then
<div *ngIf="ans=='valid' then thenBlock "></div>
<ng-template #thenBlock><p style="color:green;">valid</p></ng-template>
<div *ngIf="ans=='invalid' || ans=='na' then elseBlock "></div>

<ng-template #elseBlock><p style="color: red;">invalid</p></ng-template> -->

<!--<div [ngSwitch]="checker">
    <div *ngSwitchCase="'bothNA'"><p style="color: red;">Both NA</p></div>
    <div *ngSwitchCase="'userNA'"></div>
    <div *ngSwitchCase="'passNA'"></div>
    <div *ngSwitchCase="'BothInvalid'"></div>
    <div *ngSwitchCase="'userInvalid'"></div>
    <div *ngSwitchCase="'passInvalid'">!</div>
    <div *ngSwitchDefault>valid</div>
  </div> -->

<!--<input #NewTask1 type="text" [(ngModel)]="newTask">
<BR>

<button class="btn btn-primary" *ngIf="!isEdit" (click)="add(NewTask1.value)">Add</button>
<button class="btn btn-primary" *ngIf="isEdit" (click)="save()">Save</button>
<button class="btn btn-primary" *ngIf="isEdit"  (click)="cancel()">cancel</button>

<ol>
    <li *ngFor="let task of todo; index as i;">{{task}}
        <button  (click)="remove(i)">Remove Task {{i}}</button>
        <button (click)="edit(i)">Edit</button>
       

    </li>
</ol> -->
<router-outlet></router-outlet>




